<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.focusminds.fractioncricket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="in.focusminds.fractioncricket.FocusMindsAbout"></activity>
        <activity android:name="in.focusminds.fractioncricket.Mathlove" />
        <activity android:name="in.focusminds.fractioncricket.InitialStartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.focusminds.fractioncricket.GameModeSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name="in.focusminds.fractioncricket.RollScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="in.focusminds.fractioncricket.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>